body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0eefa;
}
a:link {
  color: #1a0dab;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #609;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  width: 15%;
  background-color: white;
  position: fixed;
  height: 100%;
  overflow: auto;
  border-radius: 8px;
  border: 2px solid SlateBlue;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: SlateBlue;
  color: white;
}

li a:hover {
  background-color: SlateBlue;
  color: white;
}

table, th, td {
  border: 2px solid black;
  border-radius: 5px;
  padding: 0;
}
table { background-color: white; }
img {  border-radius: 5px; }

th {
  padding: 0;
  background-color: SlateBlue;
  color: white;
}
td {
  text-align: center;
}
tr:hover { background-color: #f0eefa; }

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 130px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -65px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
